<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">

<!-- BOOTSTRAP DEPENDENCIES END-->
<title>Blog Application</title>
</head>
<body>
	<div
		class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top"
		th:fragment="header">
		<a class="navbar-brand" href="previewBlog" th:if="${session.user.userType} == 'admin'">Admin</a>
		<a class="navbar-brand" href="previewBlog" th:unless="${session.user.userType} == 'admin'">User</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0"
				th:if="${session.user.userType} == 'admin'">
				<li class="nav-item active"><a class="nav-link"
					href="/createUser">New User <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/userList">User
						List</a></li>
				<li class="nav-item"><a class="nav-link" href="/createBlogPost">New
						Post</a></li>
				<li class="nav-item"><a class="nav-link" href="/blogPostList">
						Posts</a></li>
			</ul>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0"
				th:unless="${session.user.userType} == 'admin'">
				<li class="nav-item active"><a class="nav-link"
					href="/createBlogPost">New Post</a></li>
				<li class="nav-item"><a class="nav-link" href="/blogPostList">Posts</a></li>
			</ul>

			<form class="form-inline my-2 my-lg-0" action="/">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
			</form>
		</div>
	</div>
</body>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</html>